{{#if this.isShowingModalDialog}}
  <ModalDialog>
    <h1>Stop! Modal Time!</h1>
    <button
      type="button"
      class="close"
      {{on "click" this.closeModalDialog}}
    >
      Close
    </button>
  </ModalDialog>
{{/if}}

<h1>A component that has a modal dialog</h1>
<button
  type="button"
  class="open"
  {{on "click" this.openModalDialog}}>
  Open Dialog
</button>
